<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 10%;
    background-color:rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: rgb(168, 84, 84);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    height: 43px;
    width: 104px;

}

nav>a {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 400;
    margin-right: 20px;
    transition: 4ms;
    padding: 9px;
}

.active {
    color: #ad0909;
}

nav>a:hover {
    color:#ad0909;

}
.home {
    height: 100vh;
    background: url('https://preview.colorlib.com/theme/sel/img/banner/home-banner.jpg.webp') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 5px 0px 20px;
    color: black
    line-height: 100%;
}


.home-content h3 {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: #358873;
    color: black;
    text-transform: capitalize;
    margin: 200px 0px 0px;
}


.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    width: 345px;
    height: 50px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 100%;
    background-color: #e00e0e;
    
    font-size: 14px;
    color: rgb(253, 252, 252);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 13px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;}
.hero-subcontainer{
    position: relative;
    left: 300px;
    padding-top: 40px;
   align-content: center;
    width:200px;
    padding: 40px;
    margin: 10px;
    background: #f8f5f5;
    border: 2px solid white;
    border-radius: 10px;
    height: 300px;
    
}

